/*Navbar Styling */

/*referencing the navbar class in html with .navbar*/
.navbar{
    background: black;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;  
    font-size: 1.2rem;
    position: sticky;
    top:0;
    z-index: 999; 
}

.navbar__container{
    display: flex; /*flex display, so that the contents will arrange themselves upon page shrink */
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin: 0 auto; /*first argument for top and bottom margin in this box centred CSS concept. Second argumment, left and right, auto margin */
}

#navbar__logo{ /*hashtag # is for element id, "." is used for element class! So here, we are referencing "element id = navbar__logo" */
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    /*if inspecting the website, we can see that linear gradient goes from bottom (the first colour param) to the top (second colour param). So, a linear gradient from bottom to top in the specified bounds! */
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu{
    display:flex;
    list-style:none;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    align-self: center;
    color: #fff;
    display: flex;
    width: fit-content;
    text-decoration: none;
    height:100%;
}

.navbar__btn{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem; /* top bottom 0 rem, left right 1 rem */
    width:100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100;
    width: 100;
    border: none;
    outline: none;
    border-radius: 4px;
    background:#833ab4;
    background: -webkit-linear-gradient(to left, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to left, #fcb045, #fd1d1d, #833ab4);
    color:#fff;
    transition: all 0.5s ease; /* speciies the transition of this button! Whenever U reload the page, 
    how it will animate or transition to come up!!! Ease is the method of the transition, 
    0.3s or any time variable argument specifies the length of the transition. 'all' specifies ALL available elements 
    are encapsulated / included under this CLASS NAME, to undergo said transition.*/
}

.navbar__links:hover{
    /*hover specifies mouse hover, so if we hover over any element under this CLASS NAME, 
    then the specified functions below will be executed. ie, Transition to purple!!! */
    color:#9518fc;
    transition: all 0.5s ease
}

@media screen{
    body, html{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .navbar__container{
        display:flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: fit-content;
        padding: 0;
    }
    .navbar__menu{
        display:grid;
        grid-template-columns: auto;
        margin: 100px 0 0;
        position: absolute;
        right:-1000px;  /*dont let it be seen at first, so its offset -1000pixels to the top of the containing box. Only show when active, which is on button click! */ 
        opacity:1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar__menu.active{
        background:#131313;
        right:0%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height:60vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        padding-left: 25px;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto; 
        transition: all 0.4s ease;
        background-color: #fff;
    }

    .navbar__item{
        width: 100%;
    }
    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .navbar__btn{
        display:flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        margin: 0;
    }

    #mobile-menu{
        position: absolute;
        top:20%;
        right:5%;
        transform: translate(5%, 100%);
    }
    .navbar__toggle span
    {
        /*displays a block like box, aka a white bar! */
        display: block;
        cursor: pointer;
    }

    /*do animations for the three bars for the navbar toggle icon. nth-child(2) directs us to the second bar */
    #mobile-menu.is-active .bar:nth-child(2){
        opacity:0;
    }
    /*do animations for the three bars for the navbar toggle icon. nth-child(2) directs us to the second bar */
    /*bring up, rotate 45 deg to angle it!!! */
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg); 
    }
    /*do animations for the three bars for the navbar toggle icon. nth-child(2) directs us to the second bar */
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .hero__heading{
        font-size: 40px;
    }

    .hero__description{
        font-size: 40px;
    }

}