:root{
    --percentage-gradient-transparent2:98%;
    --percentage-gradient-transparent:98%;
    --percentage-gradient-colour:3%;
    --percentage-gradient-colour2:3%;
}

.hero{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0%;
    top: 10%;
    opacity: 1;
    /* animation: transformUp 1s linear forwards;
    animation-play-state:paused; */
}

@property --percentage-gradient-transparent2 {
  syntax: "<percentage>";
  initial-value: 98%;
  inherits: false;
}
@property --percentage-gradient-transparent {
  syntax: "<percentage>";
  initial-value: 98%;
  inherits: false;
}
@property --percentage-gradient-colour {
  syntax: "<percentage>";
  initial-value: 5%;
  inherits: false;
}
@property --percentage-gradient-colour2 {
  syntax: "<percentage>";
  initial-value: 5%;
  inherits: false;
}


.hero .background, .background::before{
    position: absolute;
    display:block;
    content: "";
    background: linear-gradient(transparent, transparent) padding-box, 
    linear-gradient(90deg, transparent var(--percentage-gradient-transparent), #10c0e88f var(--percentage-gradient-colour)) border-box,
    linear-gradient(180deg, transparent var(--percentage-gradient-transparent2),  #10c0e88f var(--percentage-gradient-colour2)) border-box,
    linear-gradient(270deg, transparent  var(--percentage-gradient-transparent2),  #10c0e88f var(--percentage-gradient-colour2)) border-box,
    linear-gradient(0deg, transparent var(--percentage-gradient-transparent),  #10c0e88f var(--percentage-gradient-colour)) border-box;
    width: 60%;
    height: 100%;
    left: 20%;
    bottom: 0%;
    animation: adjustPercentageGradient 5s linear infinite;
}

.background::before{
    content: "";
    position: relative;
    width: 100%;
    left: 0%;
    filter: blur(0.3rem);
    background: linear-gradient(transparent, transparent) padding-box, 
    linear-gradient(90deg, transparent var(--percentage-gradient-transparent), #10c0e8 var(--percentage-gradient-colour)) border-box,
    linear-gradient(180deg, transparent var(--percentage-gradient-transparent2),  #10c0e8 var(--percentage-gradient-colour2)) border-box,
    linear-gradient(270deg, transparent var(--percentage-gradient-transparent2) , #10c0e8 var(--percentage-gradient-colour2)) border-box,
    linear-gradient(0deg, transparent var(--percentage-gradient-transparent), #10c0e8 var(--percentage-gradient-colour)) border-box;

    
}

@keyframes adjustPercentageGradient{
    0%{
        --percentage-gradient-transparent2:98%;
        --percentage-gradient-transparent:98%;
        --percentage-gradient-colour:5%;
        --percentage-gradient-colour2:5%;
    }
    50%{
        --percentage-gradient-transparent2:98%;
        --percentage-gradient-transparent:97%;
        --percentage-gradient-colour:4%;
        --percentage-gradient-colour2:3%;
    }
    100%{
        --percentage-gradient-transparent2:98%;
        --percentage-gradient-transparent:98%;
        --percentage-gradient-colour:5%;
        --percentage-gradient-colour2:5%;
    }
}


@keyframes transformUp{
    0%{
        /* transform: rotateX(40deg); */
        opacity: 1;
    }

    100%{
        /* transform: rotateX(0deg); */
        opacity: 0;
    }
}

@keyframes shrinkBox{
    100%{
        transform: scale(0.5);
    }
}


.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height:100%;
    width: 100%;
    text-align: center;
    padding: 30px;
}

.hero__heading{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 24px;
    color: #fff;
}


/*Autotyping Container Styling */
.static__text{
    color: #fff;
    font-size: 40px;
    font-weight: 400px;
}

.dynamic__texts{
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-left: 20px;
}

.autotyping__wrapper{
    display: inline-flex;
}

.dynamic__texts li{
    list-style: none;
    font-size:40px;
    font-weight: 500px;
    text-align: left;
}

.dynamic__texts li span{
    position: relative;
    text-shadow: 
    0 0 0.1rem #fff,
    0 0 0.3rem #10c0e8; /*offset x, offsety, blur radius, colour */
}

.dynamic__texts li span .hero__caret{
    display: inline-block;
    width: 0.5rem;
    height: 100%;
    border-radius: 0%;
    background: #10c0e8;
    animation: blinkingInsertCursor 1s linear infinite;
    animation-play-state: paused;
}

@keyframes typingAnim{
    100%{ /*at keyrame of 100% of the animation length, basically meaning at the last timestamp of anim */
        left: 100%;
        margin: 0;
    }
}

@keyframes flashingCursor{
    0%{
        border: 0.25rem solid #10c0e8;
    }
    100%{
        border: 0.25rem solid #131313;
    }
}
