/*style card elements*/
.card__wrap{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__wrap::-webkit-scrollbar{
    top: 20%;
    bottom: 0%;
    position: relative;
}

.card__wrap::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 2.5rem;
}
.card__wrap::-webkit-scrollbar-track{
    background: #131313;
}
