/* .card{
    position: relative;
    height: 300px;
    width: 100%;
    margin: 2.5rem;
    min-height: 300px;
} */


.card {
    width: 25rem;
    height: 30rem;
    background:transparent;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.14);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-right: 4rem;
    margin-left: 4rem;
    border-radius: 20px;
}

#project__Card{
    position: relative;
    background:
    linear-gradient(135deg, transparent 45px, #292929 0) top left,
    linear-gradient(-45deg, transparent 45px,  #292929 0) bottom left;
    background-size: 100% 50%;
    background-repeat: no-repeat;
    scroll-snap-align: start;
    margin: 2.5rem;
    padding: 2.5rem;
    width: inherit;
    height: 100%;
}

.img__holder{
    z-index: 1;
    position: relative;
    bottom: 40%;
    left: 60%;
    width: 70%;
    height: 70%;
    border-radius:50%;
    overflow: hidden;
}

.image__border{
    z-index: -1;
    position: absolute;
    width: 60%;
    height: 60%;
    left: 56%;
    bottom: 63%;
    transform: scale(1.05);
    border-radius: 50%;
    background:#407cf5;
    filter: blur(0.5rem);


}
.project__card__border{
    z-index: -1;
    position: absolute;
    left: 0%;
    top: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    background:
    linear-gradient(135deg, transparent 45px, #4085f5 0) top left,
    linear-gradient(-45deg, transparent 45px, #407cf5 0) bottom left;
    background-size: 100% 50%;
    background-repeat: no-repeat;
    transform: scale(1.05);
    filter: blur(0.5rem);
}

.description{
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 40%;
    left: 0%;
    padding: 0.5rem;
    text-shadow: 
    0 0 0.1rem #fff,
    0 0 0.3rem greenyellow; /*offset x, offsety, blur radius, colour */
    font-weight: 500;
}

.description h1{
    position:absolute;
    bottom: 30%;
    left: 0%;
    width: 60%;
    height:fit-content;
    text-wrap-mode: wrap;
    position: relative;
    padding: 0.8rem;
}

.description p{
    position: absolute;
    left: 0%;
    bottom: 50%;
    height: fit-content;
    padding: 2rem;
    text-wrap-mode: wrap;

}

.project3 .description p{
    position: absolute;
    top: 0%;
}

.project1 .description p{
    position: absolute;
    padding: 2rem;
}

.project4 .description p{
    position: inherit;
    top: 0%;
    left: 0%;
}

.project2 .description p{
    position: absolute;
    top: 0%;
}

.project5 .description h1{
    font-size: 1.5rem;
}

.project5 .description p{
    position: absolute;
    top: 0%;
}

#project__image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__button{
    z-index: 0;
    position: relative;
    top: 30%;
    width: 30%;
    height: 30%;
    background: #40d1f5;
    border: 0.2rem solid #131313;
    font-size: 1.5rem;
}

.card__button:hover{
    animation: squish 0.6s ease-in-out infinite;
}

@keyframes squish{
    50%{
        transform: scaleY(0.8);
    }
    100%{
        transform: scaleY(1.0);
    }
}

