/* .card{
    position: relative;
    height: 300px;
    width: 100%;
    margin: 2.5rem;
    min-height: 300px;
} */



.projects__popupWindow{
    z-index: -1;
    opacity: 0;
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 100%;
    background:transparent;
    animation: glitchWindow 0.1s linear forwards;
    box-shadow: 0 0 0.9rem 0.2rem #00eaff, inset 0 0 0.9rem 0.2rem #009cff;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    
}

.projects__popupWindow::before{
    z-index: -1;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background:#00000027;
    opacity: 1.0;
    content: "";
    backdrop-filter: blur(5px);

}

@keyframes glitchWindow{
    50%{
        transform: skew(180deg);
    }
}

.project__information{
    font-size: 1.5rem;
    color: #fdf990;
    padding: 0.5rem;
}

.project__information h1{
    position: relative;
    left: 0%;
    text-align: center;
}

.information__body{
    width: 80%;
    height: 50%;
    font-size: 1.5rem;
    color: #fff;
    padding: 0.5rem;
    overflow-y:scroll;
}

#project__information__video{
    z-index: 1;
    opacity: 1;
    position: relative;
    top: 0%;
    left: 0%;
    height:20rem;
    width:30rem;
}

#project__information__image{
    z-index: 1;
    opacity: 0;
    position: absolute;
    background:transparent;
    top: 0%;
    left: -12%;
    height:20rem;
    width:30rem;
}

.buttons{
    position: relative;
    top: 0%;
    right: 0%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    height: 4rem;
    width: 10rem;
    padding: 0rem;
    margin: 1rem;
    gap: 1.0rem;

}

.buttons .back__button{
    margin: 0rem;
    position: relative;
    background: #fdf990;
}

.project__github{
    position: relative;
    width: 4rem;
    height: 4rem;
    background:#292929;
}

@property --angle{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

.project__github::before{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    content: "";
    background:repeating-conic-gradient(from var(--angle), #00eaff 0%, #00eaff 10%, transparent 10%, transparent 50%);
    animation: rotate 5s linear infinite;
}

.project__github::after{
    position: absolute;
    top: 0%;
    left: 0%;
    inset: 2px;
    content: "";
    color: #fff;
    text-align: center;
    border:20px solid #131313;
    background: #131313;
}

.holder{
    position: relative;
    height: 4rem;
    width: 4rem;
}

.holder span{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: fit-content;
    top: 25%;
    left: 15%;
    color: #fff;
    margin-right: 4rem;
}

@keyframes rotate{
    0%{
        --angle: 0deg
    }
    100%{
        --angle: 360deg
    }
}










.card {
    width: 25rem;
    height: 30rem;
    background:transparent;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.14);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-right: 4rem;
    margin-left: 4rem;
    border-radius: 20px;
}

#project__Card{
    position: relative;
    background:
    linear-gradient(135deg, transparent 45px, #292929 0) top left,
    linear-gradient(-45deg, transparent 45px,  #292929 0) bottom left;
    background-size: 100% 50%;
    background-repeat: no-repeat;
    scroll-snap-align: start;
    margin: 2.5rem;
    padding: 2.5rem;
    width: inherit;
    height: 100%;
}

.img__holder{
    z-index: 1;
    position: relative;
    bottom: 40%;
    left: 60%;
    width: 70%;
    height: 70%;
    border: 0.2rem solid #131313;
    border-radius:50%;
    overflow: hidden;
}

.image__border{
    z-index: -1;
    position: absolute;
    width: 60%;
    height: 60%;
    left: 56%;
    bottom: 63%;
    transform: scale(1.05);
    border-radius: 50%;
    background:#407cf5;
    filter: blur(0.5rem);
}

.project__card__border{
    z-index: -1;
    position: absolute;
    left: 0%;
    top: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    background:
    linear-gradient(135deg, transparent 45px, #4085f5 0) top left,
    linear-gradient(-45deg, transparent 45px, #407cf5 0) bottom left;
    background-size: 100% 50%;
    background-repeat: no-repeat;
    transform: scale(1.05);
    filter: blur(0.5rem);
}

.description{
    font-size: 1.5em;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 40%;
    left: 0%;
    padding: 0.5rem;
    text-shadow: 
    0 0 0.1rem #fff,
    0 0 0.3rem greenyellow; /*offset x, offsety, blur radius, colour */
    font-weight: 500;
}

.description h1{
    position:absolute;
    bottom: 30%;
    left: 0%;
    width: 60%;
    font-size: 1.4rem;
    height:fit-content;
    text-wrap-mode: wrap;
    position: relative;
    padding: 0.8rem;
}

.description p{
    position: absolute;
    left: 0%;
    bottom: 50%;
    height: fit-content;
    padding: 2rem;
    text-wrap-mode: wrap;

}


.project3 .description p{
    position: absolute;
    top: 0%;
}

.project3 .description h1{
    font-size: 2rem;
}

.project1 .description p{
    font-size: 1.4rem;
    position: relative;
    left: 0%;
    bottom: 30%;
    padding: 2rem;
}

.project4 .description p{
    position: inherit;
    top: 0%;
    left: 0%;
}

.project2 .description p{
    position: absolute;
    top: 0%;
}

.project5 .description h1{
    font-size: 1.5rem;
}

.project5 .description h1{
    position: relative;
    font-size: 1.5rem;
}

.project5 .description p{
    position: absolute;
    top: 0%;
}

.project6 .description p{
    position: absolute;
    top: -12%;
}

#project__image{
    position: absolute;
    width: 100%;
    height: 100%;
}

.project1 #project__image{
    top: 20%;
    left: 12%;
    width: 80%;
    height: 100%;
    transform: scale(1.5);
}

.project2 #project__image{
    top: 0%;
    width: 100%;
    height: 100%;
    transform: scaleX(1.1);
}

.project3 #project__image{
    top: 10%;
    width: 100%;
    height: 100%;
    transform: scaleY(1.2);

}

.project6 #project__image{
    top: 10%;
    width: 100%;
    height: 100%;
    transform: scale(1.3, 1.2);
}

.card__button{
    z-index: 0;
    position: relative;
    top: 30%;
    width: 30%;
    height: 30%;
    background: #40d1f5;
    border: 0.2rem solid #131313;
    font-size: 1.5rem;
}

.card__button:hover{
    animation: squish 0.6s ease-in-out infinite;
}

@keyframes squish{
    50%{
        transform: scaleY(0.8);
    }
    100%{
        transform: scaleY(1.0);
    }
}

