@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");

*{
    /*specify default parameters first! */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "VT323", Courier;
    scroll-behavior:smooth;
    font-weight: 300;

    text-shadow: 
    0 0 0.1rem #fff,
    0 0 0.3rem #10c0e8; /*offset x, offsety, blur radius, colour */
}

:root{
    --step--length:34;

    --clr-inner: #10c0e8;
    --clr-outer: #009cff;
}

.footnote{
    position: absolute;
    bottom: 0%;
    right: 0%;
    height: fit-content;
    width: fit-content;
    display: flex;
    margin-bottom: 1rem;

}

.footnote #icon{
    margin-right: 0.5rem;
    width: 2rem;
    height: 2rem;
}

.footnote .css{
    margin-left: 0.5rem;
    transform: scale(1.5);
}

.footnote .html5{
    position: relative;
    transform: scale(1.45);
}

.footnote .js{
    margin-right: 0rem;
    transform: translateY(0.2rem);
}

.footnote #header{
    font-size: 2.0rem;
    color:#fff;
}

.inner__container{
    /*using flexbox, the flex direction matters. To align items along the main axis
    there is justify content. To align along the cross axis there is align-items, align-content
    and align-self*/
    /*If flex direction is column the main axis is vertical, and cross axis is horizontal. For 
    flex direction of row the main axis is horizontal, cross is vertical */
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.inner__container .input__field{
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    color: #fff;
    font-size: 3rem;
    justify-content: center;
}

.start__button{
    position: relative;
    background: transparent;
    background-color: transparent;
    width: 8rem;
    height: 60%;
    border: 0.2rem solid #131313;
    border-radius: 0.25rem;
    font-size: 2rem;
    color: white;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
}

.start__button::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2.5rem;
    background: radial-gradient(circle, #10c0e8a1, transparent);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 0;
}

.start__button:hover{
    z-index: 1;
    background-color: #10c0e8;
    color: black;
    box-shadow: 0 0 1rem #10c0e8, 0 0 4rem #10c0e8, 0 0 10rem #10c0e8;
}

.start__button:hover::before{
    opacity: 1;
}


.about__section .back__button{
    margin: 1rem;
    position: absolute;
    right: 0%;
    top: 0%;
    width: 3.5rem;
    height: 3.5rem;
    background:#10c0e8;
}

.projects__section .back__button{
    position: absolute;
    margin: 1rem;
    right: 0%;
    top: 0%;
    width: 4rem;
    height: 4rem;
    background:#10c0e8;
}

.skills__section .back__button{
    position: relative;
    width: 4rem;
    height: 4rem;
    background:#10c0e8;
}

.back__button{
    position: relative;
    border-radius: 0.2rem;
    border: 0.2rem solid #131313;

    animation: squishButton 0.5s linear infinite;
    animation-play-state: paused;
    
}

.cross{
    position: absolute;
    top: 45%;
    left: -5%;
    width: 100%;
    height: 100%;
}

.back__button .cross #cross__1{
    position: relative;
    left: 15%;
    display: block;
    width: 80%;
    height: 10%;
    background:#131313;
    transform: rotate(40deg);
    border-radius:25%;

}

.back__button .cross #cross__2{
    position: relative;
    bottom: 10%;
    left: 15%;
    display: block;
    width: 80%;
    height: 10%;
    background: #131313;
    transform: rotate(-40deg);
    border-radius:25%;
}

@keyframes squishButton{
    0%{
        transform: scale(1.0);
    }

    20%{
        transform: scale(0.8);
    }

    60%{
        transform: scale(1.1);
    }

    100%{
        transform: scale(1.0);
    }
}


.about__section{
    z-index:-1;
    opacity: 0;

    position:absolute;
    left: 10%;
    top: 5%;
    height: 70%;
    width: 80%;
    background: #13131332;
    border: 0.3rem dashed #131313;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    color: #fff;
    overflow-y: auto;

    box-shadow: 0 0 0.9rem 0.2rem #009cff, inset 0 0 0.9rem 0.2rem #009cff;
}

.about__section::-webkit-scrollbar{
    display: none;
}

/* hide page scrollbar */
html { scrollbar-width: none; } /* Firefox */
body { -ms-overflow-style: none; } /* IE and Edge */
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } /* Chrome */
/* end hide page scrollbar */


.about__section #content{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap: 1rem;
    height: 100%;
    width: 100%;
    position:relative;
    top: 0%;
    left: 0%;
    padding: 1rem;
    font-size: 1.5rem;
    min-height: fit-content;
}

#content .profile__photo{
    position: relative;
    width: min(14rem, 100%);
    height: min(15rem,80%);
    /* background-image: url("../images/project_images/photo.jpg"); */
    /* Add border-radius if you want rounded corners */
    border-radius: 0.5rem;
    overflow: hidden;
}

.profile__photo img{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    
}

#content #android{
    width: 2rem;
    height: 2rem;
}

#content #webdev{
    width: 2rem;
    height: 2rem;
}

#content #machine__learning{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

#course__link{
    color: #fff;
    font-weight:600;
}

#content ul{
    margin-left: 1.3rem;
}


.Connect #github{
    width: 3rem;
    height: 3rem;
}


.Connect #linkedin{
    width: 3rem;
    height: 3rem;

}

.Connect .resume{
    background: #10c0e8;
    border: 0.2rem solid #131313;
    width: 5rem;
    height: 3rem;
    font-size: 1.5rem;
}

.Connect{
    z-index: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    left: 0%;
    top: 70%;
    width: 100%;
    height: 10rem;
    overflow: hidden;
}

.about__whole{
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
















.projects__section{
    position: absolute;
    top:10%;
    left: 10%;
    bottom: 30%;
    z-index: -1;
    opacity: 0;
    display: flex;
    flex: row;
    width: 80%;
    height:80%;
    box-shadow: 0 0 0.9rem 0.2rem #0048ff, inset 0 0 0.9rem 0.2rem #009cff;
}

.projects__section__border{
    z-index: 0;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    filter: blur(0.1rem);
    background-image: radial-gradient(
		ellipse, transparent 80%,
		  #0037ff 0%
	);
    filter: blur(2rem);
    animation: editBlur 3.5s ease-out infinite;
}

@keyframes editBlur{
    0%{
        filter: blur(2rem);
    }
    66%{
      
        filter: blur(1.3rem);
    }
    100%{
        filter: blur(2rem);
    }
}

.projects__section__border::before{
    position: absolute;
    content: "";
    background: transparent;
    opacity: 0.2;
    width: 100%;
    height: 100%;
}
.projects__container{
    position: relative;
    left:0%;
    width:100%;
    display: flex;
    flex-direction: column;
    background: transparent;
    border: 0.3rem dashed #131313;
}

.projects__section #title__and__button{
    display: flex;
    flex-direction: row;
}

.projects__section #title__and__button h1{
    position: relative;
    font-size: 4rem;
    color: #fff;
    font-weight: 500;
    width: 100%;
}

/* Reset any conflicting styles */
html, body {
  overflow-x: hidden;
  width: 100%;
}

.slider__container {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}
.slider__container::-webkit-scrollbar {
    display: none;
    width: 80px;
    height: 5px;
}
.slider__container::-webkit-scrollbar-thumb {
    display: none;
    background: rgb(255, 255, 255);
    border-radius: 10px;
}
.slider__container::-webkit-scrollbar-track {
    display: none;
    background: rgba(224, 224, 224, 0.2);
}

.card__wrap {
    z-index: 1;
    position: relative;
    top: 15%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills__section{
    z-index: -1;
    opacity: 0;

    position: absolute;
    top: 30%;
    left: 20%;
    height: 60%;
    width: 60%;
    background: transparent;
    border: 0.2rem dashed #131313;
    display: flex;
    padding: 0;

    box-shadow: 0 0 0.9rem 0.2rem #009cff, inset 0 0 0.9rem 0.2rem #009cff;
}


.my__skills h1{
    font-size: 2rem;
    text-decoration: underline;
    padding: 1rem;
}
.my__skills{
    width: 100%;
    height: fit-content;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.my__skills div{
    height: fit-content;
    display: flex;
}
.my__skills .skill__icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.icon{
    width: 11%;
    height: 11%;
    padding: 0.5rem;
    border-radius: 1.2rem;
}

.my__skills .languages{
    margin-top: 1rem;
    width: 50%;
}

.languages .icon{
    transform: scale(2.0);
    margin-left: 2rem;
}

.languages #css{
    transform: scale(2.5);
    margin-left: 1.0rem;
}

.languages #python{
    margin-left: 0rem;
}


.my__skills .frameworks__env{
    top: 35%;
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.frameworks__env .icon{
    width: 8%;
    height: 8%;
}

.my__skills .libraries{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 62%;
    left: 50%;
}

.libraries .icon{
    width: 15%;
    height: 15%;
}

.libraries #pd{
    transform: scale(1.5);
    margin-left: 1rem;
    margin-right: 0;
}

.my__skills .art{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}

.art .icon{
    transform: scale(1.0);
    margin-right: 1rem;
}

.art #ue5{
    transform: scale(1.2);
}